html/assets/template/account-profile.jade
extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577

    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            form.accountForm
                .accountFormBlock
                    .accountFormItem
                        label.label
                            | Email
                            span *
                        input.inputFill(type="text" placeholder="hello@damin.ry")
                    .accountFormItem
                        label.label
                            | Пароль
                        input.inputFill(type="password")
                        a.accountFormItemLink(href="#") Изменить пароль
                .accountFormBlock
                    .accountFormRow
                        .accountFormHalf
                            .accountFormItem
                                label.label
                                    | ФИО
                                input.inputFill(type="text" placeholder="Иванов Иван Иванович")
                            .accountFormItem
                                label.label
                                    | Мобильный телефон
                                    span *
                                input.inputFill(type="text" placeholder="")
                            .accountFormItem
                                .accountFormItemText Код покупателя: FHefu54
                                button.buttonBlue(type="submit") Сохранить
                        .accountFormHalf
                            .accountFormHorizontal
                                .accountFormItem
                                    label.label
                                        | Пол
                                    select.selectFill.selectFillSmall
                                        option Мужской
                                        option Женский

                                .accountFormItem
                                    label.label
                                        | Дата рождения
                                    input.inputFill.inputFillSmall(type="text" placeholder="31.10.1982")
                    .accountFormRow
                        .accountFormItem
                            .accountFormItemText Получать информацию о скидках, новинках и выгодных предложениях:
                            label.labelCheckbox
                                input.checkbox(type="checkbox")
                                | SMS
                            label.labelCheckbox
                                input.checkbox(type="checkbox")
                                | E-mail

html/public/account-profile.html
<!DOCTYPE html>
<html>
  <head>
    <title>...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/woff.css" type="text/css" rel="stylesheet">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="headerTop">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
          <div class="headerLocation"><span>Город:</span>
            <button class="buttonLocation">Тюмень</button>
          </div>
        </div>
        <div class="headerRight">
          <div class="headerMenu">
            <div class="headerMenuItems">
              <div class="headerMenuItem headerMenuItemActive"><a href="#">Новости</a></div>
              <div class="headerMenuItem"><a href="#">Заказы</a></div>
              <div class="headerMenuItem"><a href="#">Финансы</a></div>
            </div>
          </div>
          <div class="headerContact">
            <div class="headerContactIcon"></div>
            <div class="headerContactText"><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em></div>
          </div>
        </div>
      </div>
      <div class="headerBottom">
        <div class="headerBottomWrap">
          <div class="headerCatalog">
            <div class="headerCatalogIcon"></div>
            <div class="headerCatalogText">Каталог товаров</div>
          </div>
          <div class="headerSearch">
            <input placeholder="Поиск" class="headerSearchInput">
            <button class="headerSearchButton"></button>
          </div><a href="#" class="headerAccount">
            <div class="headerAccountIcon"></div>
            <div class="headerAccountText"><span>Кабинет</span><em>войти на сайт</em></div></a><a href="#" class="headerCart">
            <div class="headerCartIcon">
              <div class="headerCartIconBadge">
                <div class="headerCartIconBadgeText">33</div>
              </div>
            </div>
            <div class="headerCartText"><span>Корзина</span><em>49 999 Р</em></div></a>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="topString">
        <div class="breadcrumbs">
          <div class="breadcrumb"><a href="#">Главная</a></div>
          <div class="breadcrumb">Личный кабинет</div>
        </div>
        <div class="currencies">
          <div class="currency">
            <div class="currencyName">Курс ЦБ сегодня:</div>
            <div class="currencyValue">$65.1258</div>
          </div>
          <div class="currency">
            <div class="currencyName">Завтра (26.05.2016):</div>
            <div class="currencyValue">$65.1577</div>
          </div>
        </div>
      </div>
      <div class="account">
        <div class="accountSidebar">
          <div class="accountMenu">
            <div class="accountMenuItem accountMenuItemActive"><a href="#">Профиль</a></div>
            <div class="accountMenuItem"><a href="#">История заказов</a></div>
            <div class="accountMenuItem"><a href="#">Контрагенты</a></div>
            <div class="accountMenuItem"><a href="#">Бонусная система</a></div>
          </div>
        </div>
        <div class="accountContent">
          <form class="accountForm">
            <div class="accountFormBlock">
              <div class="accountFormItem">
                <label class="label">Email<span>*</span></label>
                <input type="text" placeholder="hello@damin.ry" class="inputFill">
              </div>
              <div class="accountFormItem">
                <label class="label">Пароль</label>
                <input type="password" class="inputFill"><a href="#" class="accountFormItemLink">Изменить пароль</a>
              </div>
            </div>
            <div class="accountFormBlock">
              <div class="accountFormRow">
                <div class="accountFormHalf">
                  <div class="accountFormItem">
                    <label class="label">ФИО</label>
                    <input type="text" placeholder="Иванов Иван Иванович" class="inputFill">
                  </div>
                  <div class="accountFormItem">
                    <label class="label">Мобильный телефон<span>*</span></label>
                    <input type="text" placeholder="" class="inputFill">
                  </div>
                  <div class="accountFormItem">
                    <div class="accountFormItemText">Код покупателя: FHefu54</div>
                    <button type="submit" class="buttonBlue">Сохранить</button>
                  </div>
                </div>
                <div class="accountFormHalf">
                  <div class="accountFormHorizontal">
                    <div class="accountFormItem">
                      <label class="label">Пол</label>
                      <select class="selectFill selectFillSmall">
                        <option>Мужской</option>
                        <option>Женский</option>
                      </select>
                    </div>
                    <div class="accountFormItem">
                      <label class="label">Дата рождения</label>
                      <input type="text" placeholder="31.10.1982" class="inputFill inputFillSmall">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accountFormRow">
                <div class="accountFormItem">
                  <div class="accountFormItemText">Получать информацию о скидках, новинках и выгодных предложениях:</div>
                  <label class="labelCheckbox">
                    <input type="checkbox" class="checkbox">SMS
                  </label>
                  <label class="labelCheckbox">
                    <input type="checkbox" class="checkbox">E-mail
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footerWrap">
        <div class="footerCurrency">Цены и наличие товара действительны на 30.05.2016 12:05</div>
        <div class="footerGrid">
          <div class="footerColumn">
            <div class="footerLogo"><a href="#"><img src="img/logo.png"></a></div>
            <div class="footerText">
              <p>г. Тюмень, ул. Первомайская 8, офис 308 тел.: +7 (3452) 398-711 ежедневно с 10:00 до 20:00 order@6fox.ru</p>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">6fox.RU</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">О компании</a></div>
                <div class="footerMenuItem"><a href="#">Преимущества</a></div>
                <div class="footerMenuItem"><a href="#">Новости</a></div>
                <div class="footerMenuItem"><a href="#">Вакансии</a></div>
                <div class="footerMenuItem"><a href="#">Юридические реквизиты</a></div>
                <div class="footerMenuItem"><a href="#">Контакты</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">Услуги</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">Доставка  </a></div>
                <div class="footerMenuItem"><a href="#">Самовывоз</a></div>
                <div class="footerMenuItem"><a href="#">Сервисный центр</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerText">
              <p>Банк партнер ПАО Сбербанк</p>
              <p>Мы принимаем:</p><img src="img/card.png">
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerPhone">
              <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
