html/public/account-partner.html
<!DOCTYPE html>
<html>
  <head>
    <title>...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/woff.css" type="text/css" rel="stylesheet">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="headerTop">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
          <div class="headerLocation"><span>Город:</span>
            <button class="buttonLocation">Тюмень</button>
          </div>
        </div>
        <div class="headerRight">
          <div class="headerMenu">
            <div class="headerMenuItems">
              <div class="headerMenuItem headerMenuItemActive"><a href="#">Новости</a></div>
              <div class="headerMenuItem"><a href="#">Заказы</a></div>
              <div class="headerMenuItem"><a href="#">Финансы</a></div>
            </div>
          </div>
          <div class="headerContact">
            <div class="headerContactIcon"></div>
            <div class="headerContactText"><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em></div>
          </div>
        </div>
      </div>
      <div class="headerBottom">
        <div class="headerBottomWrap">
          <div class="headerCatalog">
            <div class="headerCatalogIcon"></div>
            <div class="headerCatalogText">Каталог товаров</div>
          </div>
          <div class="headerSearch">
            <input placeholder="Поиск" class="headerSearchInput">
            <button class="headerSearchButton"></button>
          </div><a href="#" class="headerAccount">
            <div class="headerAccountIcon"></div>
            <div class="headerAccountText"><span>Кабинет</span><em>войти на сайт</em></div></a><a href="#" class="headerCart">
            <div class="headerCartIcon">
              <div class="headerCartIconBadge">
                <div class="headerCartIconBadgeText">33</div>
              </div>
            </div>
            <div class="headerCartText"><span>Корзина</span><em>49 999 Р</em></div></a>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="topString">
        <div class="breadcrumbs">
          <div class="breadcrumb"><a href="#">Главная</a></div>
          <div class="breadcrumb">Личный кабинет</div>
        </div>
        <div class="currencies">
          <div class="currency">
            <div class="currencyName">Курс ЦБ сегодня:</div>
            <div class="currencyValue">$65.1258</div>
          </div>
          <div class="currency">
            <div class="currencyName">Завтра (26.05.2016):</div>
            <div class="currencyValue">$65.1577</div>
          </div>
        </div>
      </div>
      <div class="account">
        <div class="accountSidebar">
          <div class="accountMenu">
            <div class="accountMenuItem accountMenuItemActive"><a href="#">Профиль</a></div>
            <div class="accountMenuItem"><a href="#">История заказов</a></div>
            <div class="accountMenuItem"><a href="#">Контрагенты</a></div>
            <div class="accountMenuItem"><a href="#">Бонусная система</a></div>
          </div>
        </div>
        <div class="accountContent">
          <div class="accountPartner">
            <div class="accountPartnerSearch">
              <input type="text" placeholder="Введите ИНН организации" class="accountPartnerSearchInput input">
              <button class="buttonBlue">Заполнить автоматически</button>
            </div>
            <form class="accountPartnerFormAdd">
              <div class="accountPartnerFormHeader">
                <h2>Добавить реквизиты</h2>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">Полное название организации*</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">ИНН*</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">Телефон</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">ФИО руководителя организации</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">КПП*</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">Факс</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
              </div>
              <div class="accountPartnerFormHeader">
                <h3>Юридический адрес</h3>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">Область</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">Улица</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">Город</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormThridItems">
                    <div class="accountPartnerFormItem">
                      <label class="label">Дом</label>
                      <input type="text" placeholder="" class="input">
                    </div>
                    <div class="accountPartnerFormItem">
                      <label class="label">Корпус</label>
                      <input type="text" placeholder="" class="input">
                    </div>
                    <div class="accountPartnerFormItem">
                      <label class="label">Офис</label>
                      <input type="text" placeholder="" class="input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormItem">
                  <label class="labelCheckboxItalic">
                    <input type="checkbox"><span>Совпадает с юридическим адресом</span>
                  </label>
                </div>
              </div>
              <div class="accountPartnerFormHeader">
                <h3>Реквизиты банка</h3>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">Наименование банка</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">Адрес банка</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">БИК</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">Расчетный счет</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
                <div class="accountPartnerFormHalf">
                  <div class="accountPartnerFormItem">
                    <label class="label">ОКПО</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                  <div class="accountPartnerFormItem">
                    <label class="label">Корр. счет</label>
                    <input type="text" placeholder="" class="input">
                  </div>
                </div>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormItem">
                  <label class="labelCheckboxItalic">
                    <input type="checkbox"><span>Реквизиты по умолчанию</span>
                  </label>
                </div>
              </div>
              <div class="accountPartnerFormBlock">
                <div class="accountPartnerFormItem">
                  <button class="buttonBlue">Сохранить изменения</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footerWrap">
        <div class="footerCurrency">Цены и наличие товара действительны на 30.05.2016 12:05</div>
        <div class="footerGrid">
          <div class="footerColumn">
            <div class="footerLogo"><a href="#"><img src="img/logo.png"></a></div>
            <div class="footerText">
              <p>г. Тюмень, ул. Первомайская 8, офис 308 тел.: +7 (3452) 398-711 ежедневно с 10:00 до 20:00 order@6fox.ru</p>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">6fox.RU</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">О компании</a></div>
                <div class="footerMenuItem"><a href="#">Преимущества</a></div>
                <div class="footerMenuItem"><a href="#">Новости</a></div>
                <div class="footerMenuItem"><a href="#">Вакансии</a></div>
                <div class="footerMenuItem"><a href="#">Юридические реквизиты</a></div>
                <div class="footerMenuItem"><a href="#">Контакты</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">Услуги</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">Доставка  </a></div>
                <div class="footerMenuItem"><a href="#">Самовывоз</a></div>
                <div class="footerMenuItem"><a href="#">Сервисный центр</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerText">
              <p>Банк партнер ПАО Сбербанк</p>
              <p>Мы принимаем:</p><img src="img/card.png">
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerPhone">
              <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>

html/assets/template/account-partner.jade
extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577

    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            .accountPartner
                .accountPartnerSearch
                    input.accountPartnerSearchInput.input(type="text" placeholder="Введите ИНН организации")
                    button.buttonBlue Заполнить автоматически
                form.accountPartnerFormAdd
                    .accountPartnerFormHeader
                        h2 Добавить реквизиты
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Полное название организации*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label ИНН*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Телефон
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label ФИО руководителя организации
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label КПП*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Факс
                                input.input(type="text" placeholder="")
                    .accountPartnerFormHeader
                        h3 Юридический адрес
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Область
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Улица
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Город
                                input.input(type="text" placeholder="")
                            .accountPartnerFormThridItems
                                .accountPartnerFormItem
                                    label.label Дом
                                    input.input(type="text" placeholder="")
                                .accountPartnerFormItem
                                    label.label Корпус
                                    input.input(type="text" placeholder="")
                                .accountPartnerFormItem
                                    label.label Офис
                                    input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            label.labelCheckboxItalic
                                input(type="checkbox")
                                span Совпадает с юридическим адресом
                    .accountPartnerFormHeader
                        h3 Реквизиты банка
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Наименование банка
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Адрес банка
                                input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label БИК
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Расчетный счет
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label ОКПО
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Корр. счет
                                input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            label.labelCheckboxItalic
                                input(type="checkbox")
                                span Реквизиты по умолчанию
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            button.buttonBlue Сохранить изменения
