html/public/account-history.html
<!DOCTYPE html>
<html>
  <head>
    <title>...</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/woff.css" type="text/css" rel="stylesheet">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,400i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <header class="header">
      <div class="headerTop">
        <div class="headerLeft">
          <div class="headerLogo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
          <div class="headerLocation"><span>Город:</span>
            <button class="buttonLocation">Тюмень</button>
          </div>
        </div>
        <div class="headerRight">
          <div class="headerMenu">
            <div class="headerMenuItems">
              <div class="headerMenuItem headerMenuItemActive"><a href="#">Новости</a></div>
              <div class="headerMenuItem"><a href="#">Заказы</a></div>
              <div class="headerMenuItem"><a href="#">Финансы</a></div>
            </div>
          </div>
          <div class="headerContact">
            <div class="headerContactIcon"></div>
            <div class="headerContactText"><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em></div>
          </div>
        </div>
      </div>
      <div class="headerBottom">
        <div class="headerBottomWrap">
          <div class="headerCatalog">
            <div class="headerCatalogIcon"></div>
            <div class="headerCatalogText">Каталог товаров</div>
          </div>
          <div class="headerSearch">
            <input placeholder="Поиск" class="headerSearchInput">
            <button class="headerSearchButton"></button>
          </div><a href="#" class="headerAccount">
            <div class="headerAccountIcon"></div>
            <div class="headerAccountText"><span>Кабинет</span><em>войти на сайт</em></div></a><a href="#" class="headerCart">
            <div class="headerCartIcon">
              <div class="headerCartIconBadge">
                <div class="headerCartIconBadgeText">33</div>
              </div>
            </div>
            <div class="headerCartText"><span>Корзина</span><em>49 999 Р</em></div></a>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="topString">
        <div class="breadcrumbs">
          <div class="breadcrumb"><a href="#">Главная</a></div>
          <div class="breadcrumb">Личный кабинет</div>
        </div>
        <div class="currencies">
          <div class="currency">
            <div class="currencyName">Курс ЦБ сегодня:</div>
            <div class="currencyValue">$65.1258</div>
          </div>
          <div class="currency">
            <div class="currencyName">Завтра (26.05.2016):</div>
            <div class="currencyValue">$65.1577</div>
          </div>
        </div>
      </div>
      <div class="account">
        <div class="accountSidebar">
          <div class="accountMenu">
            <div class="accountMenuItem accountMenuItemActive"><a href="#">Профиль</a></div>
            <div class="accountMenuItem"><a href="#">История заказов</a></div>
            <div class="accountMenuItem"><a href="#">Контрагенты</a></div>
            <div class="accountMenuItem"><a href="#">Бонусная система</a></div>
          </div>
        </div>
        <div class="accountContent">
          <div class="accountHistory">
            <div class="accountHistoryText">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="accountHistoryHeader">
              <h2>История заказов</h2>
              <button class="buttonOutline">
                <div class="buttonOutlineIcon">
                  <div class="buttonOutlineIconPlus"></div>
                </div>
                <div class="buttonOutlineText">Новый заказ</div>
              </button>
            </div>
            <table class="accountHistoryTable">
              <thead class="accountHistoryTableHeader">
                <tr>
                  <td>Номер <br>заказа</td>
                  <td>Дата заказа</td>
                  <td>Контрагент</td>
                  <td>Сумма, Р</td>
                  <td>Сумма, $</td>
                  <td>Оплата</td>
                  <td>Статус</td>
                  <td>Счет</td>
                  <td>Комментарий <br>(для себя)</td>
                  <td>Документы</td>
                </tr>
              </thead>
              <tbody class="accountHistoryTableBody">
                <tr>
                  <td class="accountHistoryTableNoWrap">124</td>
                  <td class="accountHistoryTableNoWrap">26.12.2016</td>
                  <td class="accountHistoryTableNoWrap">ООО “Рога и копыта”</td>
                  <td class="accountHistoryTableNoWrap">287 520 Р</td>
                  <td class="accountHistoryTableNoWrap">4 500 $</td>
                  <td>
                    <div class="iconCheck"></div>
                  </td>
                  <td>В пути, ожидается в Тюмени 5.07.2016</td>
                  <td>
                    <button class="buttonDottedItalic">Скачать</button>
                  </td>
                  <td>Ноутбуки для отдела продаж</td>
                  <td> 
                    <button class="buttonDottedItalic">Скачать документы</button>
                  </td>
                </tr>
                <tr>
                  <td class="accountHistoryTableNoWrap">124</td>
                  <td class="accountHistoryTableNoWrap">26.12.2016</td>
                  <td class="accountHistoryTableNoWrap">ООО “Рога и копыта”</td>
                  <td class="accountHistoryTableNoWrap">287 520 Р</td>
                  <td class="accountHistoryTableNoWrap">4 500 $</td>
                  <td>
                    <div class="iconCheck"></div>
                  </td>
                  <td>В пути, ожидается в Тюмени 5.07.2016</td>
                  <td>
                    <button class="buttonDottedItalic">Скачать</button>
                  </td>
                  <td>Ноутбуки для отдела продаж</td>
                  <td> 
                    <button class="buttonDottedItalic">Скачать документы</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footerWrap">
        <div class="footerCurrency">Цены и наличие товара действительны на 30.05.2016 12:05</div>
        <div class="footerGrid">
          <div class="footerColumn">
            <div class="footerLogo"><a href="#"><img src="img/logo.png"></a></div>
            <div class="footerText">
              <p>г. Тюмень, ул. Первомайская 8, офис 308 тел.: +7 (3452) 398-711 ежедневно с 10:00 до 20:00 order@6fox.ru</p>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">6fox.RU</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">О компании</a></div>
                <div class="footerMenuItem"><a href="#">Преимущества</a></div>
                <div class="footerMenuItem"><a href="#">Новости</a></div>
                <div class="footerMenuItem"><a href="#">Вакансии</a></div>
                <div class="footerMenuItem"><a href="#">Юридические реквизиты</a></div>
                <div class="footerMenuItem"><a href="#">Контакты</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerMenu">
              <div class="footerMenuHeader">Услуги</div>
              <div class="footerMenuItems">
                <div class="footerMenuItem"><a href="#">Доставка  </a></div>
                <div class="footerMenuItem"><a href="#">Самовывоз</a></div>
                <div class="footerMenuItem"><a href="#">Сервисный центр</a></div>
              </div>
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerText">
              <p>Банк партнер ПАО Сбербанк</p>
              <p>Мы принимаем:</p><img src="img/card.png">
            </div>
          </div>
          <div class="footerColumn">
            <div class="footerPhone">
              <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2><span>8-800-0000-000</span><em>(звонок по России бесплатный)</em>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>

html/assets/template/account-history.jade
extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577
    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            .accountHistory
                .accountHistoryText
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                .accountHistoryHeader
                    h2 История заказов
                    button.buttonOutline
                        .buttonOutlineIcon
                            .buttonOutlineIconPlus
                        .buttonOutlineText
                            | Новый заказ
                table.accountHistoryTable
                    thead.accountHistoryTableHeader
                        tr
                            td Номер <br>заказа
                            td Дата заказа
                            td Контрагент
                            td Сумма, Р
                            td Сумма, $
                            td Оплата
                            td Статус
                            td Счет
                            td Комментарий <br>(для себя)
                            td Документы
                    tbody.accountHistoryTableBody
                        tr
                            td.accountHistoryTableNoWrap 124
                            td.accountHistoryTableNoWrap 26.12.2016
                            td.accountHistoryTableNoWrap ООО “Рога и копыта”
                            td.accountHistoryTableNoWrap 287 520 Р
                            td.accountHistoryTableNoWrap 4 500 $
                            td
                                .iconCheck
                            td В пути, ожидается в Тюмени 5.07.2016
                            td
                                button.buttonDottedItalic Скачать
                            td Ноутбуки для отдела продаж
                            td 
                                button.buttonDottedItalic Скачать документы
                        tr
                            td.accountHistoryTableNoWrap 124
                            td.accountHistoryTableNoWrap 26.12.2016
                            td.accountHistoryTableNoWrap ООО “Рога и копыта”
                            td.accountHistoryTableNoWrap 287 520 Р
                            td.accountHistoryTableNoWrap 4 500 $
                            td
                                .iconCheck
                            td В пути, ожидается в Тюмени 5.07.2016
                            td
                                button.buttonDottedItalic Скачать
                            td Ноутбуки для отдела продаж
                            td 
                                button.buttonDottedItalic Скачать документы
